doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    block myhead
  body
    block content