extends fuck_layout
block myhead
   script(type='text/javascript' src='../javascripts/watchstorage.js')
block content
   .wrapper 请输入一些值
      input(type='text' id='text1')
      button#setBtn 设置
      #output