doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset='utf-8')
		script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
		script(type='text/javascript' src='../javascripts/webstore.js')
	body
		h1= title
		p#msg
		input#input(type='text')
		input#saveBtn(type='button' value='保存数据')
		input#readBtn(type='button' value='读取数据')